[submodule "blog/themes/docdock"]
	path = hugo/themes/docdock
	url = https://github.com/EnigmaCurry/hugo-theme-docdock
[submodule "hugo/themes/docdock"]
	path = hugo/themes/docdock
	url = https://github.com/EnigmaCurry/hugo-theme-docdock
